@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

$colors: (
  primary: #ff51bf,
  very-pale-cyan: #eafaff,
  very-dark-cyan: #00242d,
  grayish-blue: #7f8d98
);

$body-font: "Open Sans", sans-serif;
$headings-font: "Poppins", sans-serif;

$normal: 400;
$semibold: 600;
$bold: 700;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font;
  font-weight: $bold;
}

body {
  font-size: 18px;
  font-family: $body-font;

  header {
    background: url("../images/bg-hero-mobile.svg");
    background-size: cover;
    background-position: center;
    background-color: map-get($colors, very-pale-cyan);
    // height: 100vh;
    // position: relative;
    height: 960px;

    .container {
      width: 90%;
      margin: 0 auto;
    }

    .main-nav {
      padding: 35px 0;
    }

    .main-nav::after {
      content: "";
      display: table;
      clear: both;
    }

    .logo {
      float: left;

      img {
        width: 55%;
      }
    }

    .buttons {
      float: right;
      margin-top: -5px;

      .btn-white {
        background-color: #fff;
        color: #000;
        font-weight: $bold;
        font-size: 0.75em;
        border-radius: 20px;
        padding: 7.5px 25px;
        box-shadow: 0 1px 5px #dbdbdb;
      }
    }

    .hero {
      text-align: center;
      height: 80%;
      margin-top: 17%;
      display: flex;
      flex-wrap: wrap;
      .hero-text {
        width: 100%;
        h2 {
          font-size: 1.73em;
          width: 80%;
          margin: 0 auto;
        }

        p {
          width: 95%;
          margin: 0 auto;
          font-size: 1.2em;
          margin-top: 8%;
          line-height: 1.4em;
        }
      }
      .hero-img {
        width: 100%;
        .mockup-img {
          width: 22em;
          margin-top: 70px;
        }
      }
    }
  }
  .btn-pink {
    display: block;
    background-color: map-get($colors, primary);
    color: #fff;
    margin: 10% auto 0 auto;
    width: 65%;
    padding: 13px 15px;
    border-radius: 20px;
    font-weight: $bold;
    &-footer {
      @extend .btn-pink;
      margin-top: 10px;
      text-align: center;
      font-size: 15px;
    }
  }
  .cards-outer {
    background-color: #fff;
    .card {
      background-color: #fff;
      width: 90%;
      margin: 45px auto 20px auto;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      //   border: 1px solid;
      padding: 40px 10px;
      border-radius: 20px;
      box-shadow: 0 0 10px #dbdbdb;
      align-content: space-around;
      //   height: 550px;
      .card-img {
        width: 100%;
        img {
          width: 17em;
        }
      }
      &:first-child {
        margin-top: 65px;
      }
      .card-text {
        margin-bottom: -10px;
        h2 {
          margin-top: 50px;
          font-size: 1.55em;
          word-spacing: 2px;
        }
        p {
          color: map-get($colors, grayish-blue);
          width: 80%;
          margin: 30px auto 0 auto;
          line-height: 1.5;
        }
      }
    }
    &-footer {
      @extend .card;
      margin-bottom: -70px !important;
      position: relative;
      z-index: 200;
      box-shadow: 0 -3px 5px #dbdbdb !important;
      h2 {
        margin: 5px auto;
        font-size: 25px;
      }
    }
  }
  .main-footer {
    position: relative;
    z-index: 1;
    background-color: map-get($colors, very-dark-cyan);
    color: #fff;
    padding-top: 160px;
    .container {
      width: 90%;
      margin: 0 auto;

      .footer-inner {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-content: space-around;
      }
      .logo {
        margin: 10px;
        .svg-logo path {
          display: inline-block;
          width: 40px;
          height: 68px;
          fill: #fff;
        }
      }
      .contact {
        margin: 10px 0;
        .address,
        .phonenumber,
        .mail {
          display: flex;
          margin: 30px 0;
          //   justify-content: space-between;
          img {
            align-self: flex-start;
            margin-top: 5px;
            margin-right: 30px;
            width: 4%;
          }
          p {
            width: 95%;
            font-size: 1.1em;
          }
        }
      }
      .footer-nav {
        margin: 20px 0;
        li {
          margin: 15px 0;
        }
        a {
          color: #fff;
        }
      }
      .social-media-btn {
        margin: 20px 0;
        text-align: center;
        a {
          margin: 0 10px;
          color: #fff;
        }
      }
      .copyrights {
        margin: 20px 0 50px 0;
        text-align: center;
        font-size: 14px;
        .attribution {
          margin-top: 10px;
          font-size: 11px;
          text-align: center;
        }
        .attribution a {
          color: map-get($colors, primary);
        }
      }
    }
  }
}
